# Python
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/

# Database
*.db
*.sqlite
*.sqlite3

# Environment files
.env

# Node
node_modules/
dist/
.vite/

# IDE
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Test coverage
.coverage
htmlcov/
coverage/